@font-face {
   font-family: "DM Sans Variable Italic";
   src: url("./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
   font-style: italic;
}

@font-face {
   font-family: "DM Sans Variable";
   src: url("./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
   font-style: normal;
}

@font-face {
   font-family: "DM Sans Medium";
   src: url("./assets/fonts/static/DMSans-Medium.ttf") format("truetype");
   font-style: normal;
}

@font-face {
   font-family: "DM Sans Italic";
   src: url("./assets/fonts/static/DMSans-MediumItalic.ttf") format("truetype");
   font-style: italic;
}

@font-face {
   font-family: "DM Sans";
   src: url("./assets/fonts/static/DMSans-Regular.ttf") format("truetype");
   font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 15px 100px;
    background-color: hsl(255, 44%, 96%);
}

#work{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: 200px 40px 110px 150px;
    gap: 15px;
}

div{
    border-radius: 5px;
}

.first{
    background-color: hsl(256, 67%, 59%);
    color: white;
    font-family: "DM Sans Variable";
    text-align: center;
    padding: 40px;
    grid-column: 2/ span 2;
}

.firsttext{
    font-size: 35px;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
    line-height: 1;
}

.first>p{
    font-size: 12px;
}

.p{
    color: hsl(39, 100%, 71%);
    font: inherit;
}

.first img{
    width: 130px;
}

.second{
    display: inline-block;
    background-color: hsl(0, 0%, 100%);
    padding: 10px 30px 10px 15px;
    font-family: "DM Sans Variable";
    overflow: hidden;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    grid-row: span 2;
}

.second img{
    position: relative;
    width: 200px;
    margin-bottom: 10px;
}

.third{
    display: inline-block;
    background-color: hsl(39, 100%, 71%);
    padding: 15px 15px;
    font-family: "DM Sans Variable";
    overflow: hidden;  
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    grid-row: span 2;
}

.third img{
    width: 130px;
    margin-top: 15px;
}

.fourth{
    background-color: hsl(254, 88%, 90%);
    padding: 25px 20px;
    font-family: "DM Sans Variable";
    overflow: hidden;  
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -1px;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.fourth img{
    position: relative;
    width: 230px;
    margin-top: 10px;
}

.fourth p{
    font-size: 11px;
    margin-top: 15px;
    font-weight: 500;
    letter-spacing: 0px;
}

.fifth{
    background-color: hsl(256, 67%, 59%);
    color: white;
    font-family: "DM Sans Variable";
    padding: 15px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1px;
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    align-items: center;
}

.fifth img{
    width: 150px;
}

.sixth{
    display: inline-block;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    font-family: "DM Sans Variable";
    overflow: hidden;
    font-size: xx-large;
    line-height: 1;
    font-weight: 500;
    grid-column-start: 2;
}

.sixth img{
    position: relative;
    width: 115px;
    top: 20px;
}

.sixth p{
    font-size: 11px;
    margin-top: 15px;
    font-weight: 500;
}

.seventh{
    background-color: hsl(31, 66%, 93%);
    padding: 50px 20px;
    font-family: "DM Sans Variable";
    font-size: 23px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -2px;
    grid-column: 1;
    grid-row: 1 / span 2;
}

.seventh img{
    position: relative;
    width: 115px;
    top: 20px;
}

.seventh i{
    color: hsl(256, 67%, 59%);
}

.eighth{
    background-color: hsl(39, 100%, 71%);
    padding: 17px;
    font-family: "DM Sans Variable";
    font-size: 23px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -2px;
    grid-column: 1;
    grid-row: 3 / span 2;
}

.eighth img{
    position: relative;
    width: 135px;
    top: 32px;
}